[Unit]
Description=Wait timer to delay the start of firefox-frame.service

[Timer]
OnBootSec=10
Unit=firefox-frame.service

[Install]
WantedBy=multi-user.target
